* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
    background-color: rgb(255, 255, 255);
}

#doc {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.attrc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background: #ffffff;
}

.attr {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    will-change: transform;
    transition: transform 0.3s ease;
    backface-visibility: hidden;
    transform: translateZ(0);
}

/* Media query for small screens */
@media (max-width: 600px) {
    .attr {
        width: 90%;
        height: auto;
        padding: 20px;
    }
}

#main {
    padding: 7px;
}

.import {
    color: rgb(195, 0, 255);
}

.builtin {
    color: rgb(10, 240, 6);
}

.comment {
    color: green;
}

.string {
    color: rgb(255, 166, 0);
}

.def {
    color: blue;
}